@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/search";
@import "layouts/navbar";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: $font-primary;
	color: $color-black;
	line-height: 32px;
	font-size: 20px;
	position: absolute;
    top: -50px;
    width: 100%;
}
body>header {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: background-position .4s ease-in;
	-moz-transition: background-position .4s ease-in;
	-o-transition: background-position .4s ease-in;
	transition: background-position .4s ease-in;
}
img {
   background: url(../images/loading.gif) no−repeat 50% 50%;
}
.slider-row {
	background: url(../images/slider_background_2.png);
	background-size: cover;
}
.slider-row .btn-secondary {
    color: #65a5cd;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 36px;
    letter-spacing: .01rem;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(116, 185, 214, .7);
}
.slider-row .btn-secondary:hover 
{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
.slider-row {
	.ls-container {
		h1 {
			color: $color-font-white;
			font-family: $font-primary;
			letter-spacing: -1px;
			font-size: 50px;
			line-height: 48px;
		}
		#social-list-header {
			max-width: inherit;
    		margin-top: 20px;
		}
		i.icon-background {
			font-size: 48px;
			color: $color-font-white;
		}
		i.icon-dark {
			color: #467e9a;
			padding-top: 5px;
			padding-left: 2px;
		}
	}
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}



#social-list-header {
	margin-left: 0px;
	padding-left: 0px;
	max-width: 300px;
}
#social-list-header li {
	display: inline;
	margin-right: 5px;
}
#social-list-header li img {
	height: 25px;
	width: auto;
}
.newsletter-signup {
	text-align: center;
	padding-bottom: 15px;
    padding-top: 15px;
}
.newsletter-signup {
	.btn-primary {
		border-radius: 10px;
		padding: 10px 60px;
		color: #fff;
		background-color: #467e9a;
		border: 1px solid #fff;
		/* width: 90%; */
		font-size: 21px;
		font-weight: 700;
	}
	h3 {
		font-family: $font-primary;
		color: $color-lt-blue;
		font-weight: 300;
	}
	.gform_wrapper .gform_body {
		width: 66% !important;
		float: left !important;
	}
	.gform_wrapper .gform_footer {
		width: 33% !important;
		float: right !important;
		clear: none !important;
		margin: 6px 0 0 !important;
	}
	.gfield_label {
		display: none !important;
	}
	.gform_wrapper ul.gform_fields li.gfield{
		width: 50% !important;
		float: left !important;
		display: inline !important;
	}
	.gform_wrapper ul li.gfield {
		clear: none !important;
	}
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    background-color: #dadbdd !important;
	    border: 1px solid #fff !important;
	    padding: 7px !important;
	}
}
.journey-start {
	text-align: center;
	padding: 50px 0;
}
.journey-start {
	h3 {
		font-family: $font-primary;
		color: $color-font-white;
		font-weight: 700;
		font-size: 3rem;
	}
	.btn-outline-primary {
		border: 2px solid #fff;
	    color: #fff;
	    padding: 10px 60px;
	    border-radius: 10px;
	    font-size: 18px;
	    font-weight: 700;
	    margin-top: 20px;
	}
}
.featured-talks {
	text-align: center;
	padding: 50px 0;
}
.featured-talks {
	h3 {
		font-family: $font-primary;
		color: $color-black;
		font-weight: 700;
		font-size: 3rem;
	}
	.podcast {
		border: 1px solid #ededee;
		background-color: #fff;
	}
	.podcast h4 {
		color: #3a3a3a;
		font-weight: 700;
		font-family: $font-primary;
		padding: 10px 0;
		margin-bottom: 0px;
	}
	.podcast h5 {
		color: #74b9d6;
		font-weight: 700;
		font-family: $font-primary-condensed;
	}
	.podcast .excerpt {
		font-size: 16px;
		font-weight: 500;
		font-family: $font-primary;
		padding: 0 15px 10px 15px;
		line-height: 24px;
	}
	.btn-primary {
	    background-color: #fff!important;
	    border-color: #fff!important;
	    display: block;
	    margin: auto;
	    text-transform: uppercase;
	}
}
.welcome-video {
	padding: 50px 0;
}
.welcome-video {
	h3 {
		font-family: $font-primary;
		color: $color-font-white;
		font-weight: 700;
		font-size: 3rem;
	}
	.btn-outline-primary {
		border: 2px solid #fff;
	    color: $color-lt-blue;
	    background-color: $color-font-white;
	    padding: 10px 60px;
	    border-radius: 10px;
	    font-size: 18px;
	    font-weight: 700;
	    margin-top: 20px;
	    width: 280px;
	}
	p {
		color: $color-font-white;
	}
}
.partner-with {
	padding: 50px 0;
}
.partner-with {
	h3 {
		font-family: $font-primary;
		color: $color-font-white;
		font-weight: 700;
		font-size: 3rem;
	}
	.btn-outline-primary {
		border: 2px solid #fff;
	    color: $color-lt-blue;
	    background-color: $color-font-white;
	    padding: 10px 60px;
	    border-radius: 10px;
	    font-size: 18px;
	    font-weight: 700;
	    margin-top: 20px;
	    width: 280px;
	}
	p {
		color: $color-font-white;
	}
	#social-list-header li img {
		height: 40px;
	}

	#social-list-header {
		a, .icon-background {
			color: #fff;
		}
		.icon-dark {
			color: $color-black;
		}
		a:hover {
			text-decoration: none;
			border-bottom-width: 0px;
		}
	}
}
.featured-row {
	padding: 50px 0;
	text-align: center;
}
.featured-row {
	h3 {
		font-family: $font-primary;
		color: $color-lt-blue;
		font-weight: 700;
		font-size: 3rem;
	}
	.btn-primary {
		color: $color-font-white;
	    background-color: $color-lt-blue;
	    padding: 10px 60px;
	    border-radius: 10px;
	    font-size: 18px;
	    font-weight: 700;
	    width: 280px;
	}
}

.page #reading-position-indicator {
	display: none;
}

// Here is the standard stuff
h1 {
	font-family: $font-primary;
	font-weight: 500;
	font-size: 48px;
	color: $color-black;
	margin-bottom: 30px;
}
h2 {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 30px;
	color: $color-font-lt-blue-alt;
	margin-bottom: 30px;
}
h3 {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 44px;
	color: #467e9a;
	margin-bottom: 10px;
}
a {
	color: $color-green;
}
a:hover {
	color: $color-blue;
}
ul {
	margin-left: 1em;
}

// Here are the overrides
.tp_recent_tweets ul {
	margin-left: 0!important;
    padding-left: 0 !important;
}
.tp_recent_tweets  li a {
	color: $color-font-lt-blue;
	font-weight: normal;
}

.ri-grid ul li {
	width: 111px !important;
	height: 108px !important;
}

.share-buttons {
	text-align: right;

}
.custom-share-button {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #55acee;
    border-radius: 3px;
    display: inline-block;
}
.custom-share-button-icon,
.custom-share-button-label {
  display: inline-block;
  vertical-align: middle;
}
.custom-share-button-icon {
  width: 1em;
  margin-right: .2em;
}
.custom-share-button-icon path { fill: #fff; }
.custom-share-button-label {
  font-size: 16px;
  font-weight: 500;
}
.custom-share-button:hover { 
	background-color: #cb3729;
	color: #fff;
	text-decoration: none;
	border-bottom-width: 0px;
 }
 .bg-fb {
 	background-color: #3b5999;
 }
  .bg-li {
 	background-color: #0077b5;
 }
.main .read-now .custom-share-button {
    padding: 4px 10px;
}
.main.read-now .btn-outline-primary {
	border: 2px solid #014c8c;
	color: #014c8c;
}
.main.read-now .btn-outline-primary:hover {
	color: #fff;
}

.padding-20 {
	padding: 20px;
}

// Contextual Related Posts
.crp_related {
	padding: 50px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}